{% extends "base.html" %}
{% block content %}
<div class="container theme-showcase" role="main">
         <div class="jumbotron">
	        <h1>{{user}} is picking {{ pick }} in a real draft</h1>
			<p>Round Number {{round}}</p>
		        <p>Pick Number {{ pnum }}</p>
			<p>{{user.name}}</p>
	</div>
	<div class="row">
	        <div class="col-md-6">
			<table class="table table-striped">
				<h1>
        				<span class="label label-default">ADP Rankings</span>
				</h1>
				<thead>
					<tr>
						<th>Self Rank</th>
						<th>Name</th>
						{% if user == 'Dusty' %}
							<th>Value</th>
						{%endif%}
						<th>ADP</th>
						<th>Position</th>
						<th>Points Behind</th>
						<th>Points</th>
						<th>Pick</th>
					<tr>
				</thead>
				<tbody>
				{% for du in adp %}
					<tr>
						<td>{{du.selfrank}}</td>
						<td>{{du.name}}</td>
						{% if user == 'Dusty' %}
							<td>{{du.value}}</td>
						{%endif%}
						<td>{{du.adp}}</td>
						<td>{{du.position}}</td>
						<td>{{du.dpoints}}</td>
						<td>{{du.upoints}}</td>
						<form action="{{ url_for('player_picked') }}" method="post">
							{% if pnum > du.adp %}
								<td><button type="submit" class="btn btn-danger" name="picked" value="{{du.name}}">Value Pick</button></td>
							{% elif pnum+10 > du.adp %}
								<td><button type="submit" class="btn btn-warning" name="picked" value="{{du.name}}">May soon be picked</button></td>
							{%else%}
								<td><button type="submit" class="btn btn-default" name="picked" value="{{du.name}}">Pick Me!</button></td>
							{%endif%}
						</form>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
	{%for team in playerTeam %}
		<h3>
			<span class="label label-default">Team {{loop.index}}</span>
		</h3>
                <div class="col-md-6">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Position</th>
						<th>ADP</th>
						<th>Points</th>
						<th>Picked</th>
					</tr>
				</thead>
				<tbody>
				{% for pl in team %}
					<tr>
						<td>{{pl.name}}</td>
						<td>{{pl.position}}</td>
						<td>{{pl.adp}}</td>
						<td>{{pl.upoints}}</td>
						<td>{{pl.picked}}</td>
					</tr>
				{%endfor%}
				</tbody>
			</table>
		</div>
	{%endfor%}
	</div>
{% endblock %}
