{% extends "base.html" %}
{% block content %}
	<div class="jumbotron">
                <h1>{{user}} was picking {{ pick }}</h1>
        </div>
	<div class="row">
        {%for team in playerTeam %}
                <h3>
                        <span class="label label-default">Team {{loop.index}}</span>
                </h3>
                <div class="col-md-6">
                        <table class="table table-striped">
                                <thead>
                                        <tr>
                                                <th>Name</th>
                                                <th>Position</th>
                                                <th>ADP</th>
                                                <th>Points</th>
                                                <th>Picked</th>
                                        </tr>
                                </thead>
                                <tbody>
                                {% for pl in team %}
                                        <tr>
                                                <td>{{pl.name}}</td>
                                                <td>{{pl.position}}</td>
                                                <td>{{pl.adp}}</td>
                                                <td>{{pl.upoints}}</td>
                                                <td>{{pl.picked}}</td>
                                        </tr>
                                {%endfor%}
                                </tbody>
                        </table>
                </div>
        {%endfor%}
        </div>
{% endblock %}
