{% extends "base.html" %}
{% block content %}
<div class="container theme-showcase" role="main">
	<div class="jumbotron">
	        <h1>Login</h1>
	</div>
	<form action="{{ url_for('get_username') }}" method="post" class=add-entry>
		<dl>
			<dt>Username:</dt>
			<dd><input type=text size=30 name=user></dd>
			<dt>Password:</dt>
			<dd><input type=text size=30 name=password></dd>
			<dd><button type="submit" class="btn btn-default" name=type value='Mock Draft'>Mock</button></dd>
			<dd><button type="submit" class="btn btn-default" name=type value='Real Draft'>Real</button></dd>
			<dd><button type="submit" class="btn btn-default" name=type value='Guest Mock'>Login Guest Mock</button></dd>
			<dd><button type="submit" class="btn btn-default" name=type value='Guest Real'>Login Guest Real</button></dd>
		</dl>
	</form>
</div>
{% endblock %}
