{% extends "base.html" %}
{% block content %}
	<h1>Hi, {{user}}. You are picking {{ pick }}</h1>
	<h2>This is pick number {{ pnum }} and round number {{round}}</h2>
	<ul class=entries>
	<table border="1" style="width:60%" style="float:right;">
		<caption>ADP</caption>
		<tr>
			<th>Self Rank</th>
			<th>Name</th>
			<th>Value</th>
			<th>ADP</th>
			<th>Position</th>
			<th>Pick</th>
		</tr>
		{% for ad in adp %}
			<tr>
				<td>{{ad.selfrank}}</td>
				<td>{{ad.name}}</td>
				<td>{{ad.value}}</td>
				<td>{{ad.adp}}</td>
				<td>{{ad.position}}</td>
				<form action="{{ url_for('player_picked') }}" method="post">
					<td><input type="submit" name="picked" value="{{ad.name}}">
				</form>
			</tr>
		{% endfor %}
	</table>
	<table border="1" style="width:10%;" align="right">
		<caption>My Rankings</caption>
		<tr>
			<th>Self Rank</th>
			<th>Name</th>
			<th>Value</th>
			<th>ADP</th>
			<th>Position</th>
		</tr>
		{% for du in dusty %}
			{%if loop.index <10%}
				<tr>
					<td>{{du.selfrank}}</td>
					<td>{{du.name}}</td>
					<td>{{du.value}}</td>
					<td>{{du.adp}}</td>
					<td>{{du.position}}</td>
				</tr>
			{%endif%}
		{% endfor %}
	</table>
	{%for team in playerTeam %}
		<table border="1" style="width:50%;">
		<caption>Team {{loop.index}}</caption>
		<tr>
			<th>Name</th>
			<th>Position</th>
			<th>ADP</th>
			<th>Picked</th>
		</tr>
		{% for pl in team %}
			<tr>
				<td>{{pl.name}}</td>
				<td>{{pl.position}}</td>
				<td>{{pl.adp}}</td>
				<td>{{pl.picked}}</td>
			</tr>
		{%endfor%}
		</table>
	{% endfor %}
	</ul>
{% endblock %}
